body {
  font-family: sans-serif;
  font-size: 14px;
}

#progress {
  width: 1000px;
  height: 400px;
}

table.buglist td, table.buglist th {
  border: 1px solid gray;
  padding-left: 3px;
  padding-right: 3px;
}
table.buglist tr:hover  {
  background-color: #ccc;
  color: #000;
}
table.buglist tr:hover :link {
  color: #00f;
}
table.buglist tr:hover :visited {
  color: #707;
}
table {
  border-collapse: collapse;
}
